<form (ngSubmit)="createUser()" [formGroup]="userForm" autocomplete="off">

  <div class="mat-error" *ngIf="hasError">
    Impossible de créer ce compte utilisateur.
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Adresse email" formControlName="email">
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom ou prénom" formControlName="name">
      <mat-error *ngIf="name.invalid">{{ getErrorMessage(name) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Mot de passe" type="password" formControlName="password">
      <mat-error *ngIf="password.invalid">{{ getErrorMessage(password, 5) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Confirmer mot de passe</mat-label>
      <input matInput placeholder="Confirmer mot de passe" type="password" formControlName="confirmPassword">
      <mat-error *ngIf="confirmPassword.invalid">{{ getErrorMessage(confirmPassword, 5) }}</mat-error>
    </mat-form-field>
  </div>

  <button class="mt-10" mat-raised-button color="primary" type="submit">Créer mon compte</button>
</form>
