<h1 class="mat-display-1">Bienvenue sur TGTG NC !</h1>
<button mat-raised-button color="primary" routerLink="/login">Connexion</button> &nbsp;
<button mat-raised-button color="primary" routerLink="/register">Créer un compte</button>
